<?xml version="1.0" encoding="utf-8" ?>
<mapper nameSpace="com.snowruin.mybatis.demo.dao.UserMapper">

    <select id="selectList" resultType="com.snowruin.mybatis.demo.entity.User">
            select * from user
    </select>

    <select id="getUserById" resultType="com.snowruin.mybatis.demo.entity.User">
        select * from user where id = #{id}
    </select>

    <select id="getUserMap" resultType="java.util.Map">
        select * from user limit 1
    </select>

    <select id="getUsername" resultType="java.util.Map">
        select username from user limit 1
    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        select count(1) from user
    </select>


    <insert id="insert" parameterType="com.snowruin.mybatis.demo.entity.User">
        insert into user(id,username,password)values(#{id},#{username},#{password})
    </insert>

    <delete id="deleteByUsername" >
          delete from user where username is null
    </delete>

    <select id="selectA" parameterType="com.snowruin.mybatis.demo.entity.User" resultType="com.snowruin.mybatis.demo.entity.User">
        select * from user where username = #{username} and password = #{password}
    </select>

    <update id="updateById" parameterType="com.snowruin.mybatis.demo.entity.User">
        update user set username = #{username} , password = #{password} where id = #{id}
    </update>

    <select id="selectMap" parameterType="java.util.Map" resultType="java.util.Map">
        select * from user where username = #{name} and password = #{pass}  limit 1
    </select>

</mapper>